#! /bin/ksh --login

###########################################################################
# Modify PBSACCOUNT, QUEUE, NCPUS and APP_LAUNCER depending on system and #
# project.                                                                #
###########################################################################

#PBS -e err
#PBS -o out
#PBS -N SampleApp
#PBS -A PBSACCOUNT
#PBS -q QUEUE
#PBS -l select=1:ncpus=NCPUS
#PBS -l walltime=00:30:00
#PBS -W umask=027

cd $PBS_O_WORKDIR

set -x

# Enable ESMF Compliance Checker
# export ESMF_RUNTIME_COMPLIANCECHECK=ON

# Enable Fortran RTL core dumps for severe run time failures
# export decfort_dump_flag=y

# set resource usage limits
ulimit -c unlimited #coredumpsize
ulimit -s unlimited #stacksize
ulimit -t unlimited #cputime
ulimit -d unlimited #datasize
ulimit -m unlimited #memoryuse

echo "Model started:  " `date`
APP_LAUNCHER -n 24 ./sample_app.exe
echo "Model ended:    " `date`

exit
