###############################################
####  Sample Run-Time Configuration File  #####
###############################################

# SAMPLE_DRIVER #
SAMPLE_DRIVER_component_list: SAMPLE_CAP
SAMPLE_DRIVER_attributes::
  Verbosity = max
  TimeStepSeconds = 3600
  StepCount = 6
::

# SAMPLE_CAP #
SAMPLE_CAP_mod:      sample_cap_mod
SAMPLE_CAP_name:     SAMPLE_CAP
SAMPLE_CAP_attributes::
  Verbosity = max
  TimeStepSeconds = 1800
  CoupledForcing = false
  RealizeAllExport = false
  RestartSeconds = 3600
::
