#!/bin/ksh --login
#------------------------------------------------------------------------------#
# batch directives
#------------------------------------------------------------------------------#
#PBS -S /bin/ksh
#PBS -A PROJECT_ACCOUNT
#PBS -N decompTestProto
#PBS -o decompTestProto.log
#PBS -j oe
#PBS -m abe
#PBS -l walltime=00:30:00
#PBS -l select=1:ncpus=32
#PBS -l place=scatter:excl
#PBS -q standard
#PBS -W umask=0027

cd $PBS_O_WORKDIR

# Load modules and setup runtime environment
module unload PrgEnv-cray PrgEnv-gnu PrgEnv-pgi
module load PrgEnv-intel
module use /p/work1/projects/AFWA/modulefiles
module load build/lis.2
module load cray-hdf5-parallel
module load cray-netcdf-hdf5parallel
module load ccm
module list

export NP=$PBS_NP
export RUNDIR=`pwd`

# Enable FORTRAN RTL core dumps for severe run time failures
#export decfort_dump_flag=y

# Enable runtime compliance checker
#export ESMF_RUNTIME_COMPLIANCECHECK=ON:depth=4

# Enable runtime trace output
export ESMF_RUNTIME_TRACE=ON
#export ESMF_RUNTIME_TRACE_PETLIST="0"

# Set resource usage limits
ulimit -c unlimited #coredumpsize
ulimit -s unlimited #stacksize
ulimit -t unlimited #cputime
ulimit -d unlimited #datasize
ulimit -m unlimited #memoryuse

# Run application using MPI
echo "Model started offlineApp:  " `date`
aprun -n 32 ./offlineApp.exe
echo "Model ended offlineApp:    " `date`

exit
